<!doctype html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body style="font-size:20px; padding:30px;">
  <header>
    <% include partials/_header %>
  </header>
  <h2>My Links</h2>
  <p><a href="/urls/new">Add a new URL</a></p>
  <table border='1'>
    <% for(const url in listOfURLs) { %>
    <tr>
      <td style='font-size: 20px'><a href=<%= `/u/${url}` %>><%=`localhost:8080/u/${url}`%></a></td>
      <td style='font-size: 20px'><a href=<%= listOfURLs[url].longURL %>><%= listOfURLs[url].longURL %></a></td>
      <td style='font-size: 15px'><a href=<%= `/urls/${url}` %>>Edit</a></td>
      <td><form method="POST" action="/urls/<%= url %>?_method=DELETE">
        <input type="submit" value="Delete">
      </form></td>
    </tr>
    <tr>
      <td style='font-size: 15px' colspan='4'>Created: <%= listOfURLs[url].date %></td>
    </tr>
    <% } %>
  </ul>
</body>
</html>
